*{
    margin:0;
    padding:0;
  box-sizing:border-box;
  /* border:1px solid green; */
  }
  #navbar{
    position:sticky;
    top: 0;
  }
  #navbar ul{

    
  display:flex;
  flex-wrap: nowrap;
  justify-content:flex-end;
  

  background-color:#BE3144;
  list-style:none;
  }
  #navbar ul li{
 
    min-height: 10vh;
 padding: 1rem 1.5rem;
    font-size:2rem;
  font-weight:800;
  color: #EAF0F0;

  }
  #navbar ul li:hover{
   background-color: #45567D;
   cursor: pointer;
  }
  #navbar a{
    text-decoration: none;
    color: #EAF0F0;
}
 #welcome-section{
 height: calc(100vh - 69px);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: #232326;
 color: #F0F0F0;
 
  }

  #welcome-section h1{
   font-size: 3rem;
  }
  #welcome-section p{
    font-size:1.5rem;
  }
#projects{
    /* height: calc(100vh - 69px); */
    background-color: #45567D;
    color: #F0F0F0;;
    
    padding-bottom: 40vh;
    /* padding-top: 20px;  */
    
}

#projects h2{
    font-size: 2.5rem;
    text-align: center;
    /* padding-top: 5rem; */
    padding-top: 9.3rem;
    
}
hr{
    width: 34rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}





.pro{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{ 
 width: 60%;
 height:100%;
}

.container{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.container ul a{
   
    text-decoration: none;
    cursor: pointer;
    color: #F0F0F0;
    font-size: 24px;
    letter-spacing: 2px;
    
}
.container ul li{
    cursor: pointer;
    margin-bottom: 5px;
}
.container ul li:hover, .container ul li:hover{
    text-decoration: underline;
}

.project-title{
    background-color: #303841;
    width: 100%;
    text-align: center;
}

#connects{
    background-color: #303841;
    height: calc(100vh - 173px);
    
}
#connects h2{
    font-size: 5rem;
    color: #F0F0F0;
    text-align: center;
    padding-top: 7rem;

}
#social-media{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    gap: 5rem;
    font-size: 3rem;
    color: #F0F0F0;
}
i{
    cursor: pointer;
    color: #F0F0F0;
}

footer{
    border-top: 6px solid #BE3144;
    padding: 2.5rem;
    text-align: center;
    background-color: #303841;
    color: #F0F0F0;
    
}
footer i{
    vertical-align: middle;
    cursor:text;
}

@media only screen and (max-width:1000px){
    #project{
        
        grid-template-columns: auto auto;
        
    }
}

@media only screen and (max-width:550px){
    #project{
        
        grid-template-columns: auto;
        
    }
}